@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* -- Colors -- */
    /* Bacgkround & Misc */
    --background: #f3f4f6;
    --black: #000000;
    --white: #ffffff;

    /* Primary */
    --primary-10: #faa385;
    --primary-20: #fde1d2;
    --primary-30: #fbcaaf;
    --primary-40: #f9ad85;
    --primary-50: #f6884d;
    --primary: #eb5e27; /* 60 */
    --primary-70: #bc3f0e;
    --primary-80: #892802;
    --primary-text: #000000;

    /* Secondary */
    --secondary-text: #727272;

    /* Neutrals */
    --neutral-10: #f3f4f6;
    --neutral-20: ##e5e7eb;
    --neutral-30: #d4d5d6;
    --neutral-40: #b6b8bc;
    --neutral-50: #919396;
    --neutral: #727272;
    --neutral-70: #46433e;
    --neutral-80: #111928;

    /* Semantic */
    --success-10: #daf8e6;
    --success-30: #acefc8;
    --success-50: #57de8f;
    --success-60: #22ad5c;
    --success-80: #1a8245;

    /* TODO: update with design team's color system */

    --warning-10: #fef9c3;
    --warning-20: #fde047;
    --warning: #eab308;
    --warning-40: #a16207;
    --warning-50: #713f12;

    --danger-10: #fee2e2;
    --danger-20: #fca5a5;
    --danger: #ef4444;
    --danger-40: #b91c1c;
    --danger-50: #7f1d1d;

    --info-10: #dbeafe;
    --info-20: #93c5fd;
    --info: #3b82f6;
    --info-40: #1d4ed8;
    --info-50: #1e3a8a;

    /* -- Typography Sizing -- */
    --h1: 32px;
    --h2: 26px;
    --h3: 22px;
    --h4: 18px;
    --h5: 16px;
    --body-regular: 14px;
    --body-small: 12px;
    --body-ultra-small: 11px;

    /* -- Spacing  -- */
    --spacing-1: 2px;
    --spacing-2: 4px;
    --spacing-3: 8px;
    --spacing-4: 12px;
    --spacing-5: 16px;
    --spacing-6: 20px;
    --spacing-7: 24px;
    --spacing-8: 28px;
    --spacing-9: 32px;
    --spacing-10: 40px;
    --spacing-11: 48px;
    --spacing-12: 60px;
    --spacing-13: 72px;
    --spacing-14: 96px;
    --spacing-15: 120px;
  }
}

@layer base {
  /* Add stylings here if needed */
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
